{% extends 'layouts/main.html' %}
{% block title %}Venue Search{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-6">
		<h1 class="monospace">
			{{ venue.name }}
		</h1>
		<p class="subtitle">
			ID: {{ venue.id }}
		</p>
		<div class="genres">
			{% for genre in venue.genres %}
			<span class="genre">{{ genre }}</span>
			{% endfor %}
		</div>
		<p>
			<i class="fas fa-globe-americas"></i> {{ venue.city }}, {{ venue.state }}
		</p>
		<p>
			<i class="fas fa-map-marker"></i> {% if venue.address %}{{ venue.address }}{% else %}No Address{% endif %}
		</p>
		<p>
			<i class="fas fa-phone-alt"></i> {% if venue.phone %}{{ venue.phone }}{% else %}No Phone{% endif %}
		</p>
		<p>
			<i class="fas fa-link"></i> {% if venue.website %}<a href="{{ venue.website }}" target="_blank">{{
				venue.website }}</a>{% else %}No Website{% endif %}
		</p>
		<p>
			<i class="fab fa-facebook-f"></i> {% if venue.facebook_link %}<a href="{{ venue.facebook_link }}"
				target="_blank">{{ venue.facebook_link }}</a>{% else %}No Facebook Link{% endif %}
		</p>
		{% if venue.seeking_talent %}
		<div class="seeking">
			<p class="lead">Currently seeking talent</p>
			<div class="description">
				<i class="fas fa-quote-left"></i> {{ venue.seeking_description }} <i class="fas fa-quote-right"></i>
			</div>
		</div>
		{% else %}
		<p class="not-seeking">
			<i class="fas fa-moon"></i> Not currently seeking talent
		</p>
		{% endif %}
	</div>
	<div class="col-sm-6">
		<img src="{{ venue.image_link }}" alt="Venue Image" />
	</div>
</div>
<section>
	<h2 class="monospace">{{ venue.upcoming_shows_count }} Upcoming {% if venue.upcoming_shows_count == 1 %}Show{% else
		%}Shows{% endif %}</h2>
	<div class="row">
		{%for show in venue.upcoming_shows %}
		<div class="col-sm-4">
			<div class="tile tile-show">
				<img src="{{ show.artist_image_link }}" alt="Show Artist Image" />
				<h5><a href="/artists/{{ show.artist_id }}">{{ show.artist_name }}</a></h5>
				<h6>{{ show.start_time|datetime('full') }}</h6>
			</div>
		</div>
		{% endfor %}
	</div>
</section>
<section>
	<h2 class="monospace">{{ venue.past_shows_count }} Past {% if venue.past_shows_count == 1 %}Show{% else %}Shows{%
		endif %}</h2>
	<div class="row">
		{%for show in venue.past_shows %}
		<div class="col-sm-4">
			<div class="tile tile-show">
				<img src="{{ show.artist_image_link }}" alt="Show Artist Image" />
				<h5><a href="/artists/{{ show.artist_id }}">{{ show.artist_name }}</a></h5>
				<h6>{{ show.start_time|datetime('full') }}</h6>
			</div>
		</div>
		{% endfor %}
	</div>
</section>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title text-center" id="deleteModalLabel">Delete Confirmation</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
			</div>
			<div class="modal-body">
				Are you sure you want to delete this Venue?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				<button type="button" id="confirmDeleteBtn" class="btn btn-danger" data-dismiss="modal">Delete</button>
			</div>
		</div>
	</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<a href="/venues/{{ venue.id }}/edit"><button class="btn btn-primary btn-lg">Edit</button></a>
<a href="#" data-toggle="modal" data-target="#deleteModal" class="btn btn-danger btn-lg">Delete</a>

<script>
	document.getElementById('confirmDeleteBtn').addEventListener('click', function () {
		var venueId = "{{ venue.id|safe }}";
		var url = 'http://127.0.0.1:5000/venues/' + venueId;

		// console.log(url);
		// return;

		fetch(url, {
			method: 'DELETE',
		})
			// .then(response => response.json())
			.then(data => {
				Swal.fire({
					title: "Venue successfully deleted!",
					icon: "success"
				});
				window.location.href = '/venues'; // Redirect to /venues page	
			})
			.catch((error) => {
				console.error('Error:', error);
				Swal.fire({
					title: "An error occurred! Please try again.",
					icon: "error"
				});
			});
	});
</script>

<!-- <a href="/venues/{{ venue.id }}/delete"><button class="btn btn-danger btn-lg">Delete</button></a> -->

{% endblock %}